<%= form_for @genre do |f| %>
  <div class="form-group">
    <%= f.label :name, "Genre name" %>
    <%= f.text_field :name, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
