<% content_for :title, @genre.name %>
<% content_for :description, "#{@genre.name} on VideoGameList (VGList)" %>

<h1 class="title"><%= @genre.name %></h1>
<h2 class="subtitle">
  <%= @genre.description.blank? ? "This genre doesn't have a description yet." : @genre.description %>
</h2>

<% if policy(@genre).update? || policy(@genre).destroy? %>
  <div class="field is-grouped">
    <% if policy(@genre).update? %>
      <p class="control"><%= link_to("Edit", edit_genre_path(@genre.id), class: "button") %>
    <% end %>
    <% if policy(@genre).destroy? %>
      <p class="control"><%= link_to("Delete", genre_path(@genre.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
    <% end %>
  </div>
<% end %>

<% unless @genre.wikidata_id.blank? %>
  <%= link_to 'Wikidata', "https://www.wikidata.org/wiki/Q#{@genre.wikidata_id}" %>
<% end %>

<% if !@games.blank? %>
  <div class="game-card-list mt-20">
    <% @games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @games %>
<% else %>
  <p>This genre doesn't have any games yet.
<% end %>
