<% content_for :title, @genre.name %>

<h1 class="title"><%= @genre.name %></h1>
<h2 class="subtitle">
  <%= @genre.description.blank? ? "This genre doesn't have a description yet." : @genre.description %>
</h2>

<% if policy(@genre).update? || policy(@genre).destroy? %>
  <div class="field is-grouped">
    <% if policy(@genre).update? %>
      <p class="control"><%= link_to("Edit", edit_genre_path(@genre.id), class: "button") %>
    <% end %>
    <% if policy(@genre).destroy? %>
      <p class="control"><%= link_to("Delete", genre_path(@genre.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
    <% end %>
  </div>
<% end %>

<% if !@genre.games.blank? %>
  <p>Games:

  <ul>
    <% @genre.games.each do |game| %>
      <li><%= link_to(game.name, game_path(game.id)) %>
    <% end %>
  </ul>
<% else %>
  <p>This genre doesn't have any games yet.
<% end %>
