<% content_for :title, @engine.name %>

<h1 class="title"><%= @engine.name %></h1>

<% if policy(@engines).edit? || policy(@engines).destroy? %>
  <div class="field is-grouped">
    <p class="control"><%= link_to("Edit", edit_engine_path(@engine.id), class: "button") %>
    <p class="control"><%= link_to("Delete", engine_path(@engine.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
  </div>
<% end %>

<% unless @engine.wikidata_id.blank? %>
  <%= link_to 'Wikidata', "https://www.wikidata.org/wiki/Q#{@engine.wikidata_id}" %>
<% end %>

<% if !@games.blank? %>
  <div class="game-card-list mt-20">
    <% @games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @games %>
<% else %>
  <p>This engine doesn't have any games yet.
<% end %>
