<% content_for :title, "Resend confirmation email" %>

<div class="sign-in-container m-auto card p-30">
  <h1 class="title has-text-centered">Resend confirmation email</h1>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages" %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <div class="control">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
      </div>
    </div>

    <div class="field has-text-centered">
      <%= f.submit "Resend confirmation email", class: "button is-primary mb-20 is-fullwidth" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
