<h1 class="title">Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :username, class: "label" %>
    <div class="control">
      <%= f.text_field :username, class: "input", minlength: 4, maxlength: 20 %>
      <small class="form-text text-muted">(4 characters minimum, 20 maximum)</small>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, class: "label" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "label" %>
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.submit "Sign up", class: "button is-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
