<% content_for :title, @platform.name %>

<h1 class="title"><%= @platform.name %></h1>
<h2 class="subtitle"><%= @platform.description %></h2>

<% if policy(@platform).update? || policy(@platform).destroy? %>
  <div class="field is-grouped">
    <% if policy(@platform).update? %>
      <p class="control"><%= link_to("Edit", edit_platform_path(@platform.id), class: "button") %>
    <% end %>
    <% if policy(@platform).destroy? %>
      <p class="control"><%= link_to("Delete", platform_path(@platform.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
    <% end %>
  </div>
<% end %>

<% if !@games.blank? %>
  <p>Games:

  <div class="game-card-list mt-20">
    <% @games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @games %>
<% else %>
  This platform doesn't have any games yet.
<% end%>
