<% content_for :title, "Admin Dashboard" %>

<div class="ml-50 mr-50 mr-0-mobile ml-0-mobile">
  <%= render 'admin_header' %>

  <div class="card pt-15 pb-15">
    <div class="has-text-centered has-text-weight-bold mb-25">Statistics</div>
    <%# Breaks the counts into two separate levels. %>
    <nav class="level">
      <% @counts.to_a[0...(@counts.length / 2)].each do |key, count| %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><%= key.to_s.titlecase %></p>
            <p class="title"><%= count %></p>
          </div>
        </div>
      <% end %>
    </nav>

    <nav class="level">
      <% @counts.to_a[(@counts.length / 2)..@counts.length].each do |key, count| %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><%= key.to_s.titlecase %></p>
            <p class="title"><%= count %></p>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

  <div class="card mt-30 pt-15 pb-15">
    <div class="has-text-centered has-text-weight-bold mb-25">External Identifiers</div>
    <nav class="level">
      <% @external_id_counts.each do |key, count| %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><%= key.to_s.titlecase %></p>
            <p class="title"><%= count %></p>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

  <div class="card mt-30 pt-15 pb-15">
    <div class="has-text-centered has-text-weight-bold mb-25">Version Counts</div>
    <nav class="level">
      <% @version_counts.each do |key, count| %>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading"><%= key.to_s.titlecase %></p>
            <p class="title"><%= count %></p>
          </div>
        </div>
      <% end %>
    </nav>
  </div>

  <h3 class="has-text-centered mt-25 mb-10 has-text-weight-bold">Statistics Over Time</h3>
  <div class="table-container">
    <table class="table is-striped is-narrow is-bordered is-fullwidth">
      <thead>
        <tr>
          <th style="min-width: 250px;">Date</th>
          <th>Users</th>
          <th>Games</th>
          <th>Platforms</th>
          <th>Series</th>
          <th>Engines</th>
          <th>Companies</th>
          <th>Genres</th>
          <th>Stores</th>
          <th>Events</th>
          <th>Game Purchases</th>
          <th>Relationships</th>
          <th>Games with covers</th>
          <th>Games with release dates</th>
          <th>Banned users</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics.each do |statistic| %>
          <tr>
            <td><%= statistic.created_at.strftime("%b %e, %Y %l:%M:%S %p") %></td>
            <td><%= statistic.users %></td>
            <td><%= statistic.games %></td>
            <td><%= statistic.platforms %></td>
            <td><%= statistic.series %></td>
            <td><%= statistic.engines %></td>
            <td><%= statistic.companies %></td>
            <td><%= statistic.genres %></td>
            <td><%= statistic.stores %></td>
            <td><%= statistic.events %></td>
            <td><%= statistic.game_purchases %></td>
            <td><%= statistic.relationships %></td>
            <td><%= statistic.games_with_covers %></td>
            <td><%= statistic.games_with_release_dates %></td>
            <td><%= statistic.banned_users %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h3 class="has-text-centered mt-15 mb-10 has-text-weight-bold">External IDs Over Time</h3>
  <div class="table-container">
    <table class="table is-striped is-narrow is-bordered is-fullwidth">
      <thead>
        <tr>
          <th style="min-width: 250px;">Date</th>
          <th>MobyGames IDs</th>
          <th>PCGamingWiki IDs</th>
          <th>Wikidata IDs</th>
          <th>GiantBomb IDs</th>
          <th>Steam App IDs</th>
          <th>Epic Games Store IDs</th>
          <th>GOG IDs</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics.each do |statistic| %>
          <tr>
            <td><%= statistic.created_at.strftime("%b %e, %Y %l:%M:%S %p") %></td>
            <td><%= statistic.mobygames_ids %></td>
            <td><%= statistic.pcgamingwiki_ids %></td>
            <td><%= statistic.wikidata_ids %></td>
            <td><%= statistic.giantbomb_ids %></td>
            <td><%= statistic.steam_app_ids %></td>
            <td><%= statistic.epic_games_store_ids %></td>
            <td><%= statistic.gog_ids %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h3 class="has-text-centered mt-15 mb-10 has-text-weight-bold">Version Count Over Time</h3>
  <div class="table-container">
    <table class="table is-striped is-narrow is-bordered is-fullwidth">
      <thead>
        <tr>
          <th style="min-width: 250px;">Date</th>
          <th>Company Versions</th>
          <th>Game Versions</th>
          <th>Genre Versions</th>
          <th>Engine Versions</th>
          <th>Platform Versions</th>
          <th>Series Versions</th>
        </tr>
      </thead>
      <tbody>
        <% @statistics.each do |statistic| %>
          <tr>
            <td><%= statistic.created_at.strftime("%b %e, %Y %l:%M:%S %p") %></td>
            <td><%= statistic.company_versions %></td>
            <td><%= statistic.game_versions %></td>
            <td><%= statistic.genre_versions %></td>
            <td><%= statistic.engine_versions %></td>
            <td><%= statistic.platform_versions %></td>
            <td><%= statistic.series_versions %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @statistics %>
</div>
