<% content_for :title, "Steam Blocklist - Admin" %>

<div class="ml-50 mr-50 mr-0-mobile ml-0-mobile">
  <%= render 'admin_header' %>

  <%= link_to "Create new blocklist entry", admin_new_steam_blocklist_path, class: 'button mb-10 mr-0-mobile is-fullwidth-mobile' %>

  <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Steam App ID</th>
          <th>Game Name</th>
          <th>Created by</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @blocklist.each do |blocked_item| %>
          <tr>
            <th><%= link_to(blocked_item.steam_app_id, "https://store.steampowered.com/app/#{blocked_item.steam_app_id}") %></th>
            <td><%= blocked_item.name %></td>
            <td>
              <% unless blocked_item.user.nil? %>
                <%= link_to(blocked_item.user.username, blocked_item.user) %>
              <% end %>
            </td>
            <td><%= link_to "Remove", admin_remove_from_steam_blocklist_path(steam_app_id: blocked_item.steam_app_id), method: :delete, class: "is-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= paginate @blocklist %>
</div>
