<h1 class="title">Resend unlock instructions</h1>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.submit "Resend unlock instructions", class: "button is-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
