<% content_for :title, "Developer Settings" %>

<div class="columns">
  <div class="column is-3-desktop">
    <div class="box">
      <%= render 'settings/nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Developer Settings</h1>

    <h2 class="title is-4">Your API Token</h2>
    <p>
      This token can be used to access the API. Make sure it stays secret,
      and reset the token if you think anyone else may have gained access
      to it.
    </p>

    <div class="mt-5">
      <code class="js-token-holder is-hidden user-select-all"></code>
    </div>
    <div class="buttons mt-10 mb-10">
      <button class="button js-view-token-button" data-token-path="<%= settings_api_token_path(format: :json) %>">View Token</button>
      <%= button_to "Reset Token", reset_token_users_path, remote: true, class: "button" %>
    </div>

    <h2 class="title is-4 mt-30">Your Applications</h2>

    <p><%= link_to t('.new'), new_oauth_application_path, class: 'button is-success mb-25' %></p>

    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          <th><%= t('.name') %></th>
          <th><%= t('.callback_url') %></th>
          <th><%= t('.confidential') %></th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @applications.each do |application| %>
          <tr id="application_<%= application.id %>">
            <td class="align-middle">
              <%= link_to application.name, oauth_application_path(application) %>
            </td>
            <td class="align-middle">
              <%= simple_format(application.redirect_uri) %>
            </td>
            <td class="align-middle">
              <%= application.confidential? ? t('doorkeeper.applications.index.confidentiality.yes') : t('doorkeeper.applications.index.confidentiality.no') %>
            </td>
            <td class="align-middle">
              <%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(application) %>
              <%= link_to 'Delete', oauth_application_path(application), method: :delete, data: { confirm: "Are you sure you want to delete this application?" }, class: "ml-10 has-text-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
