<% content_for :title, @user.username %>

<h1><%= @user.username %></h1>

<% if @user.admin? %>
  <p><span class="badge badge-primary">Admin</span>
<% elsif @user.moderator? %>
  <p><span class="badge badge-primary">Moderator</span>
<% end %>

<% if !@user.bio.blank? %>
  <p><%= @user.bio %>
<% else %>
  <p><%= @user == current_user ? "You haven't added a bio yet." : "This user hasn't added a bio yet." %>
<% end %>

<h3>Library</h3>
<% if !@purchased_releases.blank? %>
  <div id="game-library">
    <library
      v-bind:purchased-releases="<%= @purchased_releases.to_json(except: [:created_at, :updated_at]) %>"
    >
    </library>
  </div>
<% else %>
  <p><%= @user == current_user ? "You haven't added any games to your library yet." : "This user hasn't added any games to their library yet." %>
<% end %>
