<% content_for :title, @user.username %>
<% content_for :description, "#{@user.username}'s user page on VideoGameList (VGList)" %>
<% if @user.avatar.attached? %>
  <%# This technically doesn't give us what we want because it won't be square, but oh well. %>
  <% content_for :opengraph_image, rails_blob_url(@user.avatar) %>
<% else %>
  <% content_for :opengraph_image, image_url('default-avatar.png') %>
<% end %>

<div class="hero-area">
  <div class="hero-image hero-image-150 user-avatar">
    <%= user_avatar(@user.id, 150) %>
  </div>

  <div class="text-block">
    <h1 class="title"><%= @user.username %></h1>

    <% if !@user.bio.blank? %>
      <h2 class="subtitle"><%= @user.bio %>
    <% else %>
      <h2 class="subtitle"><%= @user == current_user ? "You haven't added a bio yet." : "This user hasn't added a bio yet." %>
    <% end %>

    <% if @user.admin? %>
      <p><span class="tag is-primary has-text-weight-semibold">Admin</span>
    <% elsif @user.moderator? %>
      <p><span class="tag is-primary has-text-weight-semibold">Moderator</span>
    <% end %>
  </div>
</div>

<% if policy(@user).update_role? || policy(@user).remove_avatar? %>
  <div class="field is-grouped">
    <% if policy(@user).update_role? && @user != current_user %>
      <% unless @user.role == "member" %>
        <p class="control"><%= link_to "Make member", update_role_user_path(id: @user.id, role: "member"), data: { method: "post", confirm: "Are you sure you want to make this user a member?" }, class: "button" %>
      <% end %>
      <% unless @user.role == "moderator" %>
        <p class="control"><%= link_to "Make moderator", update_role_user_path(id: @user.id, role: "moderator"), data: { method: "post", confirm: "Are you sure you want to make this user a moderator?" }, class: "button" %>
      <% end %>
      <% unless @user.role == "admin" %>
        <p class="control"><%= link_to "Make admin", update_role_user_path(id: @user.id, role: "admin"), data: { method: "post", confirm: "Are you sure you want to make this user an admin?" }, class: "button" %>
      <% end %>
    <% end %>

    <% if policy(@user).remove_avatar? && @user != current_user && @user.avatar.attached? %>
      <p class="control"><%= link_to "Remove avatar",
          remove_avatar_user_path(@user.id),
          method: :delete,
          data: { confirm: "Are you sure you want to remove #{@user.username}'s avatar?" },
          class: "button is-danger" %></p>
    <% end %>
  </div>
<% end %>

<h3 class="title is-3 mt-15">Library</h3>
<div id="game-library">
  <library
    v-bind:game-purchases-url="<%= game_purchases_path(user_id: @user.id, format: :json).to_json %>"
    v-bind:is-editable="<%= policy(@user).add_game_to_library? ? true : false %>"
    v-bind:user-id="<%= @user.id %>"
  ></library>
</div>

<h3 class="title is-3 mt-15">Favorites</h3>

<% if @user.favorites.games.length > 0 %>
  <ul>
    <% @user.favorites.games.each do |favorite| %>
      <li><%= link_to Game.find(favorite.favoritable_id).name, game_path(favorite.favoritable_id) %>
    <% end %>
  </ul>
<% else %>
  <p>No favorited games.
<% end %>
