<% content_for :title, @user.username %>

<div class="hero-area">
  <div class="hero-image user-avatar">
    <%= user_avatar(@user.id, 150) %>
  </div>

  <div class="text-block">
    <h1 class="title"><%= @user.username %></h1>

    <% if !@user.bio.blank? %>
      <h2 class="subtitle"><%= @user.bio %>
    <% else %>
      <h2 class="subtitle"><%= @user == current_user ? "You haven't added a bio yet." : "This user hasn't added a bio yet." %>
    <% end %>

    <% if @user.admin? %>
      <p><span class="tag is-primary has-text-weight-semibold">Admin</span>
    <% elsif @user.moderator? %>
      <p><span class="tag is-primary has-text-weight-semibold">Moderator</span>
    <% end %>
  </div>
</div>

<% if policy(@user).update_role? && @user != current_user %>
  <div class="field is-grouped">
    <% unless @user.role == "member" %>
      <p class="control"><%= link_to "Make member", update_role_user_path(id: @user.id, role: "member"), data: { method: "post", confirm: "Are you sure you want to make this user a member?" }, class: "button" %>
    <% end %>
    <% unless @user.role == "moderator" %>
      <p class="control"><%= link_to "Make moderator", update_role_user_path(id: @user.id, role: "moderator"), data: { method: "post", confirm: "Are you sure you want to make this user a moderator?" }, class: "button" %>
    <% end %>
    <% unless @user.role == "admin" %>
      <p class="control"><%= link_to "Make admin", update_role_user_path(id: @user.id, role: "admin"), data: { method: "post", confirm: "Are you sure you want to make this user an admin?" }, class: "button" %>
    <% end %>
  </div>
<% end %>

<h3 class="title is-3 mt-15">Library</h3>
<div id="game-library">
  <library
    v-bind:game-purchases-url="<%= game_purchases_path(user_id: @user.id, format: :json).to_json %>"
    v-bind:is-editable="<%= policy(@user).add_game_to_library? ? true : false %>"
    v-bind:user-id="<%= @user.id %>"
  ></library>
</div>
