<% content_for :title, @user.username %>
<% content_for :description, "#{@user.username}'s user page on vglist" %>
<% if @user.avatar.attached? %>
  <% content_for :opengraph_image, rails_blob_url(@user.avatar) %>
<% else %>
  <% content_for :opengraph_image, image_url('default-avatar.png') %>
<% end %>

<%= render 'user_header', user: @user %>

<%# Display a message if the user's account is private or has been banned, and hide everything else. %>
<% if policy(@user).show? %>
  <% if current_user && @user != current_user %>
    <% if current_user_following?(@user) %>
      <%= link_to user_unfollow_path(user_id: @user.id), method: :delete, class: "is-danger button is-fullwidth-mobile mr-5 mr-0-mobile mt-10" do %>
        <span class="icon pl-5 mr-5">
          <%= svg_icon('user-minus', fill: :white, height: 15, aria: false) %>
        </span>
        <span>Unfollow</span>
      <% end %>
    <% else %>
      <%= link_to user_follow_path(user_id: @user.id), method: :post, class: "is-primary button is-fullwidth-mobile mr-5 mr-0-mobile mt-10" do %>
        <span class="icon pl-5 mr-5">
          <%= svg_icon('user-plus', fill: :white, height: 15, aria: false) %>
        </span>
        <span>Follow</span>
      <% end %>
    <% end %>

    <%= link_to compare_users_path(user_id: current_user.slug, other_user_id: @user.slug),
      class: 'button is-fullwidth-mobile mr-5 mr-0-mobile mt-10' do %>
      <span class="icon pl-5 mr-5">
        <%= svg_icon('balance-scale-left', height: 15, aria: false, css_class: 'has-fill-grey') %>
      </span>
      <span>Compare with your library</span>
    <% end %>
  <% end %>

  <% if (policy(@user).update_role? || policy(@user).remove_avatar?) && @user != current_user %>
    <div class="dropdown is-fullwidth-mobile mt-10">
      <div class="dropdown-trigger is-fullwidth-mobile">
        <button class="button is-fullwidth-mobile" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Actions</span>
          <span class="icon">
            <%= svg_icon('chevron-down', height: 15, aria: false) %>
          </span>
        </button>
      </div>
      <div class="dropdown-menu is-fullwidth-mobile" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% if policy(@user).update_role? && @user != current_user %>
            <% unless @user.role == "member" %>
              <%= link_to "Make member", update_role_user_path(id: @user.id, role: "member"), data: { method: "post", confirm: "Are you sure you want to make #{@user.username} a member?" }, class: "dropdown-item" %>
            <% end %>
            <% unless @user.role == "moderator" %>
              <%= link_to "Make moderator", update_role_user_path(id: @user.id, role: "moderator"), data: { method: "post", confirm: "Are you sure you want to make #{@user.username} a moderator?" }, class: "dropdown-item" %>
            <% end %>
            <% unless @user.role == "admin" %>
              <%= link_to "Make admin", update_role_user_path(id: @user.id, role: "admin"), data: { method: "post", confirm: "Are you sure you want to make #{@user.username} an admin?" }, class: "dropdown-item" %>
            <% end %>
          <% end %>

          <% if policy(@user).remove_avatar? && @user != current_user && @user.avatar.attached? %>
            <%= link_to "Remove avatar",
                remove_avatar_user_path(@user.id),
                method: :delete,
                data: { confirm: "Are you sure you want to remove #{@user.username}'s avatar?" },
                class: "dropdown-item has-text-danger" %>
          <% end %>

          <% if policy(@user).ban? && !@user.banned? %>
            <%= link_to "Ban user",
                ban_user_path(@user.id),
                method: :post,
                data: { confirm: "Are you sure you want to ban #{@user.username}?" },
                class: "dropdown-item has-text-danger" %>
          <% elsif policy(@user).unban? && @user.banned? %>
            <%= link_to "Unban user",
                unban_user_path(@user.id),
                method: :post,
                data: { confirm: "Are you sure you want to unban #{@user.username}?" },
                class: "dropdown-item has-text-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div data-vue-component="user-statistics"
    data-vue-props="<%=
      {
        userId: @user.slug
      }.to_json
    %>"
  >
    <% if @user.games.count > 0 %>
      <div class="card is-two-thirds column m-auto mt-10" style="height: 200px"></div>
    <% end %>
  </div>

  <h3 class="title is-3 mt-15">Library</h3>
  <div data-vue-component="library"
    data-vue-props="<%=
      {
        gamePurchasesUrl: game_purchases_path(user_id: @user.id, format: :json),
        isEditable: policy(@user).add_game_to_library?,
        userId: @user.id,
        chevronDownIcon: svg_icon('chevron-down', height: 15, aria: false)
      }.to_json
    %>"
  ></div>
<% elsif @user.banned? %>
  <h2 class='subtitle has-text-centered has-text-weight-semibold mt-30'>This user's account has been banned.</h2>
<% else %>
  <h2 class='subtitle has-text-centered has-text-weight-semibold mt-30'>This user's account is private.</h2>
<% end %>
