<div class="custom-card game-card card">
  <%= link_to(game_path(game.id), class: 'card-container') do %>
    <figure class="game-cover">
      <%= game_cover(game, size: :medium) %>
    </figure>
    <div class="card-content">
      <%# mr-20 to avoid the dropdown button overlaying on top of the text. %>
      <p class="title is-4 mr-20"><%= game.name %></p>
      <p class="subtitle is-6"><%= summarize(game.platforms.pluck(:name)) %></p>
      <p class="subtitle is-6"><%= summarize(game.developers.pluck(:name), limit: 2) %></p>
    </div>
  <% end %>
</div>
