<div class="custom-card game-card">
  <%= link_to(game_path(game.id), class: 'card-container') do %>
    <figure class="game-cover">
      <%= game_cover(game, 300, 500) %>
    </figure>
    <div class="card-content">
      <p class="title is-4"><%= game.name %></p>
      <p class="subtitle is-6"><%= game.platforms.limit(5).map(&:name).join(', ') %></p>
      <p class="subtitle is-6"><%= game.developers.distinct.limit(5).map(&:name).join(', ') %></p>
    </div>
  <% end %>
</div>
