<div class="custom-card game-card">
  <%= link_to(game_path(game.id), class: 'card-container') do %>
    <figure class="game-cover">
      <%= game_cover(game, 300, 500) %>
    </figure>
    <div class="card-content">
      <p class="title is-4 mr-10"><%= game.name %></p>
      <% if game.platforms.any? %>
        <div class="mb-10">
          <%= svg_icon('hdd', height: 16, width: 16, css_class: 'is-vertical-align-middle has-fill-link', aria: false) %>
          <p class="subtitle is-6 ml-5 is-inline is-vertical-align-middle">
            <%= summarize(game.platforms.pluck(:name)) %>
          </p>
        </div>
      <% end %>
      <% if game.developers.any? %>
        <div class="mb-10">
          <%= svg_icon('building', height: 16, width: 16, css_class: 'is-vertical-align-middle has-fill-link', aria: false) %>
          <p class="subtitle is-6 ml-5 is-inline is-vertical-align-middle">
            <%= summarize(game.developers.pluck(:name), limit: 2) %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if current_user %>
    <div data-vue-component="game-card-dropdown"
      data-vue-props="<%=
        {
          gameId: game.id,
          chevronDownIcon: svg_icon('chevron-down', height: 15, aria: false)
        }.to_json
      %>"></div>
  <% end %>
</div>
