<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= meta_title(yield(:title)) %></title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5856d6">
  <meta name="msapplication-TileColor" content="#5856d6">
  <meta name="theme-color" content="#5856d6">

  <meta name="description" content="<%= meta_description(yield(:description)) %>">

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="vglist" />
  <meta property="og:title" content="<%= meta_title(yield(:title)) %>">
  <meta property="og:description" content="<%= meta_description(yield(:description)) %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <% if yield(:opengraph_image).blank? %>
    <meta property="og:image" content="<%= image_url('vglist-opengraph-image.png')%>">
  <% else %>
    <meta property="og:image" content="<%= yield(:opengraph_image) %>">
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', nonce: true, 'data-turbolinks-track': 'reload' %>

  <% if Rails.env.production? %>
    <!-- Cloudflare Web Analytics -->
    <%= javascript_include_tag 'https://static.cloudflareinsights.com/beacon.min.js',
        nonce: true,
        defer: true,
        data: {
          cf_beacon: { token: ENV['CLOUDFLARE_WEB_ANALYTICS_TOKEN'] }.to_json
        } %>
    <!-- End Cloudflare Web Analytics -->
  <% end %>
</head>
