<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to(root_path, class: "navbar-item has-text-weight-semibold", title: 'vglist Home') do %>
      <%= image_tag('vglist-logo.svg', width: '80px', class: 'mt-5', aria: { hidden: true }) %>
    <% end %>
    <%# Hamburger menu for mobile %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu is-shadowless" id="navMenu">
    <div class="navbar-start">
      <%# Placeholder search input until the Vue component loads. %>
      <div class="navbar-item has-dropdown field mt-10"
        data-vue-component="search"
        data-vue-props="<%=
          {
            searchIcon: svg_icon('search', height: 16, aria: false)
          }.to_json
        %>"
      >
        <p class="control">
          <div class="field mb-0">
            <p class="control has-icons-left">
              <input type="search" placeholder="Search" class="input navbar-search-input">
              <span class="icon is-small is-left">
                <%= svg_icon('search', height: 16, aria: false) %>
              </span>
            </p>
          </div>
        </p>
      </div>

      <%# Link to the global activity if the user isn't logged in. %>
      <% if current_user.nil? %>
        <%= link_to("Activity", activity_path, class: "navbar-item") %>
      <% else %>
        <%= link_to("Activity", activity_following_path, class: "navbar-item") %>
      <% end %>
      <%= link_to("Games", games_path, class: "navbar-item") %>
      <%= link_to("Users", users_path, class: "navbar-item") %>
      
      <%# Include these on mobile. %>
      <%= link_to("Platforms", platforms_path, class: "navbar-item is-hidden-desktop") %>
      <%= link_to("Genres", genres_path, class: "navbar-item is-hidden-desktop") %>
      <%= link_to("Companies", companies_path, class: "navbar-item is-hidden-desktop") %>
      <%= link_to("Engines", engines_path, class: "navbar-item is-hidden-desktop") %>
      <%= link_to("Series", series_index_path, class: "navbar-item is-hidden-desktop") %>
      <%= link_to("Stores", stores_path, class: "navbar-item is-hidden-desktop") %>

      <%# Hide these behind a dropdown on desktop. %>
      <div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
        <a class="navbar-link" aria-haspopup="menu" aria-controls="navbar-dropdown-more-mobile">More</a>

        <div id="navbar-dropdown-more-mobile" class="navbar-dropdown is-right">
          <%= link_to("Platforms", platforms_path, class: "navbar-item") %>
          <%= link_to("Genres", genres_path, class: "navbar-item") %>
          <%= link_to("Companies", companies_path, class: "navbar-item") %>
          <%= link_to("Engines", engines_path, class: "navbar-item") %>
          <%= link_to("Series", series_index_path, class: "navbar-item") %>
          <%= link_to("Stores", stores_path, class: "navbar-item") %>
        </div>
      </div>
    </div>

    <%# This is a bit screwy because we hide the dropdown items on mobile
        and replace them with normal items so stuff doesn't look as weird. %>
    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
          <a class="navbar-link">
            <%= user_avatar(current_user, size: :small) %>
            <span class='pl-10'><%= current_user.username %></span>
          </a>

          <div class="navbar-dropdown is-right">
            <% navbar_items.each do |navbar_item| %>
              <% if navbar_item[:title].nil? %>
                <hr class="navbar-divider">
              <% elsif !navbar_item[:method].nil? %>
                <%= link_to(navbar_item[:title], navbar_item[:path], method: navbar_item[:method], class: "navbar-item") %>
              <% else %>
                <%= link_to(navbar_item[:title], navbar_item[:path], class: "navbar-item") %>
              <% end %>
            <% end %>
          </div>
        </div>

        <% navbar_items.each do |navbar_item| %>
          <% unless navbar_item[:title].nil? %>
            <% if navbar_item[:method].nil? %>
              <%= link_to(navbar_item[:title], navbar_item[:path], class: "navbar-item is-hidden-desktop") %>
            <% else %>
              <%= link_to(navbar_item[:title], navbar_item[:path], method: navbar_item[:method], class: "navbar-item is-hidden-desktop") %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to('Sign up', new_user_registration_path, class: "navbar-item")  %>
        <%= link_to('Sign in', new_user_session_path, class: "navbar-item") %>
        <% navbar_items.each do |navbar_item| %>
          <%= link_to(navbar_item[:title], navbar_item[:path], class: "navbar-item is-hidden-desktop") %>
        <% end %>
        
        <div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
          <a class="navbar-link" aria-haspopup="menu" aria-controls="navbar-dropdown-more-desktop">More</a>

          <div id="navbar-dropdown-more-desktop" class="navbar-dropdown is-right">
            <% navbar_items.each do |navbar_item| %>
              <%= link_to(navbar_item[:title], navbar_item[:path], class: "navbar-item") %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
