<div class="section home-section">
  <div class="container is-fluid">
    <div class="content is-size-5 has-text-centered column is-two-thirds m-auto">
      <%= image_tag('vglist-logo.svg', width: '250px', class: 'home-logo', alt: 'vglist logo') %>
      <h4 class="subtitle has-text-weight-normal">Track your entire video game library across every store and platform.</h2>
    </div>
  </div>
</div>

<div class="section section-home-overlap-card">
  <nav class="level card home-card stats-card column is-two-thirds m-auto">
    <div class="level-item has-text-centered">
      <div>
        <p class="title"><%= number_with_delimiter(@counts[:games]) %></p>
        <p class="heading"><%= link_to "Games", games_path %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title"><%= number_with_delimiter(@counts[:series]) %></p>
        <p class="heading"><%= link_to "Series", series_index_path %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title"><%= number_with_delimiter(@counts[:platforms]) %></p>
        <p class="heading"><%= link_to "Platforms", platforms_path %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title"><%= number_with_delimiter(@counts[:companies]) %></p>
        <p class="heading"><%= link_to "Companies", companies_path %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title"><%= number_with_delimiter(@counts[:engines]) %></p>
        <p class="heading"><%= link_to "Engines", engines_path %></p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="title"><%= number_with_delimiter(@counts[:genres]) %></p>
        <p class="heading"><%= link_to "Genres", genres_path %></p>
      </div>
    </div>
  </nav>

  <div class="game-card-list mt-20">
    <% @games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>
</div>
