<div class="content is-size-5 has-text-centered column is-two-thirds m-auto">
  <h1 class="title">VideoGameList</h1>
  <h4 class="subtitle has-text-weight-normal">VideoGameList helps you track your entire video game library across every store and platform.</h2>
</div>

<nav class="level card stats-card column is-two-thirds m-auto">
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= @counts[:games] %></p>
      <p class="heading"><%= link_to "Games", games_path %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= @counts[:series] %></p>
      <p class="heading"><%= link_to "Series", series_index_path %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= @counts[:platforms] %></p>
      <p class="heading"><%= link_to "Platforms", platforms_path %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= @counts[:companies] %></p>
      <p class="heading"><%= link_to "Companies", companies_path %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= @counts[:engines] %></p>
      <p class="heading"><%= link_to "Engines", engines_path %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title"><%= @counts[:genres] %></p>
      <p class="heading"><%= link_to "Genres", genres_path %></p>
    </div>
  </div>
</nav>
