<aside class="menu">
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Profile', settings_path %></li>
    <li><%= link_to 'Account', settings_account_path %></li>
    <li><%= link_to 'Import', settings_import_path %></li>
    <li><%= link_to 'Applications', oauth_authorized_applications_path %></li>
    <li><%= link_to 'Developer', oauth_applications_path %></li>
  </ul>
</aside>
