<% content_for :title, "Connections Settings" %>

<div class="columns">
  <div class="column is-2-desktop">
    <div class="box">
      <%= render 'nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Connections</h1>

    <div class="field">
      <% if @steam_account.nil? %>
        <p>No Steam account connected.
        <p><%= button_to "Connect your Steam account",
          user_steam_omniauth_authorize_path,
          class: 'button mt-10' %>
      <% else %>
        <div class="notification is-info">
          <p>In order to import your games from Steam, <strong>your Steam profile and "Game details" need to be public</strong>.
          You can set your profile and game library to public in <%= link_to 'your Steam privacy settings', "https://steamcommunity.com/my/edit/settings" %>.
          Once you've imported your games, you can set your profile back to private if you'd like.
        </div>
        <p>Steam account: <%= link_to @steam_username, @steam_account.steam_profile_url %></p>
        <%= link_to "Import games from Steam",
          steam_import_user_path(id: @user.id),
          method: :post,
          class: 'button mt-10' %>
        <%= button_to "Disconnect Steam account",
          disconnect_steam_user_path(id: @user.id),
          data: { confirm: "Are you sure you want to disconnect your Steam account?" },
          method: :delete,
          class: 'button is-danger mt-10' %>
      <% end %>
    </div>

    <% if @unmatched_games %>
      <p>Unable to import the following games:
      <% @unmatched_games.each do |game| %>
        <p><%= game %></p>
      <% end %>
    <% end %>
  </div>
</div>
