<% content_for :title, "Connections Settings" %>

<div class="columns">
  <div class="column is-2-desktop">
    <div class="box">
      <%= render 'nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Connections</h1>

    <div class="field">
      <% if @steam_account.nil? %>
        <div class="notification is-info">
          <p>If you connect your <%= link_to 'Steam', 'https://store.steampowered.com/' %> account you
          can import games from your account and kickstart your game library.
        </div>
        <%= form_with url: connect_steam_user_path(id: @user.id), local: true do |f| %>
          <div class="field">
            <%= f.label :steam_username, class: "label" %>
            <div class="control">
              <%= f.text_field :steam_username, autocomplete: "off", class: "input" %>
            </div>
          </div>

          <div class="field">
            <%= f.submit "Connect your Steam account", class: 'button is-primary' %>
          </div>
        <% end %>
      <% else %>
        <div class="notification is-info">
          <p>In order to import your games from Steam, <strong>your Steam profile and "Game details" need to be public</strong>.
          You can set your profile and game library to public in <%= link_to 'your Steam privacy settings', "https://steamcommunity.com/my/edit/settings" %>.
          Once you've imported your games, you can set your profile back to private if you'd like.
        </div>
        <% if @user.games.count > 0 %>
          <div class="notification is-warning">
            <p><strong>Want to import more games?</strong> You can import games as many times as you want. The importer will
            only add games that aren't already in your library.
          </div>
        <% end %>
        <p>Steam account: <%= link_to @steam_username, @steam_account.steam_profile_url %></p>
        <%= link_to "Import games from Steam",
          steam_import_user_path(id: @user.id),
          method: :post,
          class: 'button mt-10' %>
        <%= button_to "Disconnect Steam account",
          disconnect_steam_user_path(id: @user.id),
          data: { confirm: "Are you sure you want to disconnect your Steam account?" },
          method: :delete,
          class: 'button is-danger mt-10' %>
      <% end %>
    </div>

    <% if @unmatched_games %>
      <div class="content">
        <p>Unable to find the following games in the database<%= @unmatched_games.count == 50 ? " (only displaying the first 50 games)" : "" %>:
        <ul>
          <% @unmatched_games.each do |game| %>
            <li><%= game['name'] %> (<%= link_to 'Create', new_game_path(name: game['name'], steam_app_id: game['steam_id']), target: "_blank" %>)</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
