<% content_for :title, "Profile Settings" %>

<div class="columns">
  <div class="column is-2-desktop">
    <div class="box">
      <%= render 'nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Profile</h1>

    <div data-vue-component="avatar-input"
      data-vue-props="<%=
        {
          railsDirectUploadsPath: rails_direct_uploads_url,
          submitPath: user_path(@user.id),
          deletePath: remove_avatar_user_path(@user.id),
          avatarPath: @user.avatar.attached? ? rails_blob_path(@user.avatar, disposition: 'attachment') : ''
        }.to_json
      %>">
    </div>

    <h2 class="subtitle is-3 mt-25 mb-10">Bio</h2>

    <%= form_for @user, html: { class: "bio-form" } do |f| %>
      <div class="field">
        <div class="control">
          <%= f.text_area :bio, class: "textarea" %>
        </div>
      </div>

      <div class="field">
        <%= f.submit "Submit", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
