<% content_for :title, "Profile Settings" %>

<div class="columns">
  <div class="column is-2-desktop">
    <div class="box">
      <%= render 'nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Profile</h1>

    <%= form_for @user, html: { class: "avatar-form" } do |f| %>
      <div class="field">
        <%= f.label :avatar %>
        <div class="control">
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="field">
        <%= f.submit "Update avatar", class: "button is-primary" %>
        <% if @user.avatar.attached? && policy(@user).remove_avatar? %>
          <%= link_to "Remove avatar",
            remove_avatar_user_path(@user.id),
            method: :delete,
            data: { confirm: "Are you sure you want to remove your avatar?" },
            class: "button is-danger" %>
        <% end %>
      </div>
    <% end %>

    <h2 class="subtitle is-3 mt-25 mb-10">Bio</h2>

    <%= form_for @user, html: { class: "bio-form" } do |f| %>
      <div class="field">
        <div class="control">
          <%= f.text_area :bio, class: "textarea" %>
        </div>
      </div>

      <div class="field">
        <%= f.submit "Submit", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
