<% content_for :title, "Profile Settings" %>

<div class="columns">
  <div class="column is-2-desktop">
    <div class="box">
      <%= render 'nav' %>
    </div>
  </div>

  <div class="column">
    <h1 class="title">Profile</h1>

    <%= form_for @user, html: { class: "avatar-form" } do |f| %>
      <div class="field">
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </div>

      <div class="field">
        <%= f.submit "Update Avatar", class: "button is-primary" %>
        <% if @user.avatar.attached? && policy(@user).remove_avatar? %>
          <%= link_to "Remove avatar", remove_avatar_user_path(@user.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger" %>
        <% end %>
      </div>
    <% end %>

    <%= form_for @user, html: { class: "bio-form" } do |f| %>
      <div class="field">
        <%= f.label :bio, "Bio", class: "label" %>
        <div class="control">
          <%= f.text_area :bio, class: "textarea" %>
        </div>
      </div>

      <div class="field">
        <%= f.submit "Submit", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>
