<% content_for :title, "Edit #{@game.name}" %>

<h1 class="title">Edit <%= @game.name %></h1>

<div id='game-form'>
  <game-form
    :submit-path="<%= game_url(@game.id).to_json %>"
    :rails-direct-uploads-path="<%= rails_direct_uploads_url.to_json %>"
    :success-path="<%= game_url(@game.id).to_json %>"
    :cancel-path="<%= game_url(@game.id).to_json %>"
    :create="false"
    :name="<%= @game.name.to_json %>"
    :description="<%= @game.description.to_json %>"
    :genres="<%= @game.genres.to_json %>"
    :engines="<%= @game.engines.to_json %>"
    :developers="<%= @game.developers.to_json %>"
    :publishers="<%= @game.publishers.to_json %>"
    :platforms="<%= @game.platforms.to_json %>"
    :series="<%= @game.series.to_json %>"
    :steam_app_id="<%= @game.steam_app_id.to_json %>"
  ></game-form>
</div>
