<% content_for :title, "Games" %>
<% content_for :description, "All games available on VideoGameList (VGList)." %>

<h1 class="title">Games</h1>

<div class="field buttons">
  <% if policy(@games).create? %>
    <%= link_to("Create a new game", new_game_path, class: 'button mr-0-mobile is-fullwidth-mobile') %>
  <% end %>

  <div class="dropdown is-right is-fullwidth-mobile">
    <div class="dropdown-trigger is-fullwidth-mobile">
      <button class="button is-fullwidth-mobile" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>
          <%= params[:order_by].nil? ? "Sort" : "Sort by #{params[:order_by].titleize.downcase}" %>
        </span>
      </button>
    </div>
    <div class="dropdown-menu is-fullwidth-mobile" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <%= sort_dropdown_link(nil, 'Default') %>
        <%= sort_dropdown_link(:newest, 'Newest') %>
        <%= sort_dropdown_link(:oldest, 'Oldest') %>
        <%= sort_dropdown_link(:recently_updated, 'Recently updated') %>
        <%= sort_dropdown_link(:least_recently_updated, 'Least recently updated') %>
        <%= sort_dropdown_link(:most_popular, 'Most popular') %>
        <%= sort_dropdown_link(:most_owners, 'Most owners') %>
      </div>
    </div>
  </div>
</div>

<div class="game-card-list mt-20">
  <% @games.each do |game| %>
    <%= render 'shared/game_card', game: game %>
  <% end %>
</div>

<%= paginate @games %>
