<% content_for :title, "Games" %>

<h1 class="title">Games</h1>

<% if policy(@games).create? %>
  <p><%= link_to("Create a new game", new_game_path) %></p>
<% end %>

<div class="game-card-list mt-20">
  <% @games.each do |game| %>
    <div class="game-card">
      <%= link_to(game_path(game.id), class: 'card-container') do %>
        <figure class="game-cover">
          <% if game.cover.attached? %>
            <%= image_tag game.cover.variant(resize: "300x500>") %>
          <% else %>
            <%= image_tag 'no-cover.png' %>
          <% end %>
        </figure>
        <div class="card-content">
          <p class="title is-4"><%= game.name %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @games %>
