<% content_for :title, @game.name %>

<div class="hero-area">
  <div class="hero-image game-cover mb-5">
    <% if @game.cover.attached? %>
      <%= image_tag @game.cover.variant(resize: "300x500>") %>
    <% else %>
      <%= image_tag 'no-cover.png', height: "800px", width: "560px" %>
    <% end %>
  </div>

  <div class="text-block">
    <h1 class="title"><%= @game.name %></h1>
    <h2 class="subtitle">
      <%= @game.description.blank? ? "This game doesn't have a description yet." : @game.description %>
    </h2>
  </div>
</div>

<div class="field is-grouped">

  <% if policy(@game).favorite? || policy(@game).unfavorite? %>
    <%= button_to 'Favorite', favorite_game_path(@game.id, format: :json), method: :post, class: "button js-is-toggleable favorite-on #{ game_in_user_favorites?(@game) ? 'is-hidden' : '' }", remote: :true, data: { toggle_partner: 'favorite-off' } %>
    <%= button_to 'Unfavorite', unfavorite_game_path(@game.id, format: :json), method: :delete, class: "button js-is-toggleable favorite-off #{ game_in_user_favorites?(@game) ? '' : 'is-hidden' }", remote: :true, data: { toggle_partner: 'favorite-on' } %>
  <% end %>

  <% if policy(current_user).add_game_to_library? || policy(current_user).remove_game_from_library? %>
    <% if policy(current_user).add_game_to_library? && !game_in_user_library?(@game) %>
      <%= button_to "Add to library", add_game_to_library_game_path(@game.id), method: :post, params: { game_purchase: { user_id: current_user.id, game_id: @game.id } }, class: "button" %>
    <% end %>
    <% if policy(current_user).remove_game_from_library? && game_in_user_library?(@game) %>
      <%= button_to "Remove from library", remove_game_from_library_game_path(@game.id), method: :delete, params: { id: @game.id }, class: "button is-danger" %>
    <% end %>
  <% end %>

  <% if policy(@game).update? || policy(@game).destroy? %>
    <div id="actions-dropdown" class="dropdown is-right">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Actions</span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% if policy(@game).update? %>
            <%= link_to("Edit", edit_game_path(@game.id), class: "dropdown-item") %>
          <% end %>
          <% if @game.cover.attached? && policy(@game).remove_cover? %>
            <%= link_to "Remove cover", remove_cover_game_path(@game.id), method: :delete, data: { confirm: "You sure?" }, class: "dropdown-item is-danger" %>
          <% end %>
          <% if policy(@game).destroy? %>
            <%= link_to "Delete", game_path(@game.id), method: :delete, data: { confirm: "You sure?" }, class: "dropdown-item is-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render 'infobox', game: @game %>

<h3>Owners</h3>
<% if @owners.count.positive? %>
  <ul>
    <% @owners.each do |owner| %>
      <li><%= link_to(owner.username, user_path(owner)) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No one has this game in their library yet.</p>
<% end %>
