<% content_for :title, @game.name %>

<div class="game-hero-area">
  <div class="game-cover">
    <% if @game.cover.attached? %>
      <%= image_tag @game.cover.variant(resize: "300x500>") %>
    <% else %>
      <%= image_tag 'no-cover.png', height: "800px", width: "560px" %>
    <% end %>
  </div>

  <div class="text-block">
    <h1 class="title"><%= @game.name %></h1>
    <h2 class="subtitle">
      <%= @game.description.blank? ? "This game doesn't have a description yet." : @game.description %>
    </h2>
  </div>
</div>

<% if policy(@game).update? || policy(@game).destroy? %>
  <div class="field is-grouped">
    <% if policy(@game).update? %>
      <p class="control"><%= link_to("Edit", edit_game_path(@game.id), class: "button") %>
    <% end %>
    <% if policy(@game).destroy? %>
      <p class="control"><%= link_to("Delete", game_path(@game.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
    <% end %>
  </div>
<% end %>

<div class="box infobox">
  <p class="infobox-header has-text-weight-semibold">Genre(s)
  <% if !@game.genres.blank? %>
    <ul>
      <% @game.genres.each do |genre| %>
        <li><%= link_to(genre.name, genre_path(genre.id)) %>
      <% end %>
    </ul>
  <% else %>
    <p>This game doesn't have any genres yet.
  <% end %>

  <p class="infobox-header has-text-weight-semibold">Engine(s)
  <% if !@game.engines.blank? %>
    <ul>
      <% @game.engines.each do |engine| %>
        <li><%= link_to(engine.name, engine_path(engine.id)) %>
      <% end %>
    </ul>
  <% else %>
    <p>Unknown
  <% end %>

  <% unless @game.developers.blank? %>
    <p class="infobox-header has-text-weight-semibold">Developer(s)
    <ul>
      <% @game.developers.distinct.each do |developer| %>
        <li><%= link_to(developer.name, company_path(developer.id)) %>
      <% end %>
    </ul>
  <% end %>

  <% unless @game.publishers.blank? %>
    <p class="infobox-header has-text-weight-semibold">Publisher(s)
    <ul>
      <% @game.publishers.distinct.each do |publisher| %>
        <li><%= link_to(publisher.name, company_path(publisher.id)) %>
      <% end %>
    </ul>
  <% end %>

  <%# <p class="infobox-header has-text-weight-semibold">External links %>
</div>

