<% content_for :title, @game.name %>

<h1 class="title"><%= @game.name %></h1>
<h2 class="subtitle">
  <%= @game.description.blank? ? "This game doesn't have a description yet." : @game.description %>
</h2>

<% if user_signed_in? %>
  <div class="field is-grouped">
    <p class="control"><%= link_to("Edit", edit_game_path(@game.id), class: "button") %>
    <p class="control"><%= link_to("Delete", game_path(@game.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
  </div>
<% end %>

<% if !@game.genres.blank? %>
  <p>Genres:
  <ul>
    <% @game.genres.each do |genre| %>
      <li><%= link_to(genre.name, genre_path(genre.id)) %>
    <% end %>
  </ul>
<% else %>
  <p>This game doesn't have any genres yet.
<% end %>

<% if !@game.releases.blank? %>
  <p>Releases:

  <ul>
    <% @game.releases.each do |release| %>
      <li><%= link_to(release.name, release_path(release.id)) %>
    <% end %>
  </ul>
<% else %>
  <p>This game doesn't have any releases yet.
<% end %>
