<% content_for :title, @game.name %>

<div class="hero-area">
  <div class="hero-image game-cover mb-5">
    <% if @game.cover.attached? %>
      <%= image_tag @game.cover.variant(resize: "300x500>") %>
    <% else %>
      <%= image_tag 'no-cover.png', height: "800px", width: "560px" %>
    <% end %>
  </div>

  <div class="text-block">
    <h1 class="title"><%= @game.name %></h1>
    <h2 class="subtitle">
      <%= @game.description.blank? ? "This game doesn't have a description yet." : @game.description %>
    </h2>
  </div>
</div>

<div class="field is-grouped">

  <% if policy(@game).favorite? || policy(@game).unfavorite? %>
    <%= button_to 'Favorite', favorite_game_path(@game.id, format: :json), method: :post, class: "button js-is-toggleable favorite-on #{ game_in_user_favorites?(@game) ? 'is-hidden' : '' }", remote: :true, data: { toggle_partner: 'favorite-off' } %>
    <%= button_to 'Unfavorite', unfavorite_game_path(@game.id, format: :json), method: :delete, class: "button js-is-toggleable favorite-off #{ game_in_user_favorites?(@game) ? '' : 'is-hidden' }", remote: :true, data: { toggle_partner: 'favorite-on' } %>
  <% end %>

  <% if policy(current_user).add_game_to_library? || policy(current_user).remove_game_from_library? %>
    <% if policy(current_user).add_game_to_library? && !game_in_user_library?(@game) %>
      <%= button_to "Add to library", add_game_to_library_game_path(@game.id), method: :post, params: { game_purchase: { user_id: current_user.id, game_id: @game.id } }, class: "button" %>
    <% end %>
    <% if policy(current_user).remove_game_from_library? && game_in_user_library?(@game) %>
      <%= button_to "Remove from library", remove_game_from_library_game_path(@game.id), method: :delete, params: { id: @game.id }, class: "button is-danger" %>
    <% end %>
  <% end %>

  <% if policy(@game).update? || policy(@game).destroy? %>
    <div id="actions-dropdown" class="dropdown is-right">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Actions</span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% if policy(@game).update? %>
            <%= link_to("Edit", edit_game_path(@game.id), class: "dropdown-item") %>
          <% end %>
          <% if @game.cover.attached? && policy(@game).remove_cover? %>
            <%= link_to "Remove cover", remove_cover_game_path(@game.id), method: :delete, data: { confirm: "You sure?" }, class: "dropdown-item is-danger" %>
          <% end %>
          <% if policy(@game).destroy? %>
            <%= link_to "Delete", game_path(@game.id), method: :delete, data: { confirm: "You sure?" }, class: "dropdown-item is-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="box infobox">
  <% unless @game.developers.blank? %>
    <p class="infobox-header has-text-weight-semibold"><%= "Developer".pluralize(@game.developers.count) %>
    <ul>
      <% @game.developers.each do |developer| %>
        <li><%= link_to(developer.name, company_path(developer.id)) %>
      <% end %>
    </ul>
  <% end %>

  <% unless @game.publishers.blank? %>
    <p class="infobox-header has-text-weight-semibold"><%= "Publisher".pluralize(@game.publishers.count) %>
    <ul>
      <% @game.publishers.each do |publisher| %>
        <li><%= link_to(publisher.name, company_path(publisher.id)) %>
      <% end %>
    </ul>
  <% end %>

  <% unless @game.platforms.blank? %>
    <p class="infobox-header has-text-weight-semibold"><%= "Platform".pluralize(@game.platforms.count) %>
    <ul>
      <% @game.platforms.each do |platform| %>
        <li><%= link_to(platform.name, platform_path(platform.id)) %>
      <% end %>
    </ul>
  <% end %>

  <% unless @game.series.blank? %>
    <p class="infobox-header has-text-weight-semibold">Series
    <ul>
      <li><%= link_to(@game.series.name, series_path(@game.series.id)) %>
    </ul>
  <% end %>

  <% unless @game.genres.blank? %>
    <p class="infobox-header has-text-weight-semibold"><%= "Genre".pluralize(@game.genres.count) %>
    <ul>
      <% @game.genres.each do |genre| %>
        <li><%= link_to(genre.name, genre_path(genre.id)) %>
      <% end %>
    </ul>
  <% end %>

  <% unless @game.engines.blank? %>
    <p class="infobox-header has-text-weight-semibold"><%= "Engine".pluralize(@game.engines.count) %>
    <ul>
      <% @game.engines.each do |engine| %>
        <li><%= link_to(engine.name, engine_path(engine.id)) %>
      <% end %>
    </ul>
  <% end %>

  <% unless @game.wikidata_id.blank? && @game.pcgamingwiki_id.blank? %>
    <p class="infobox-header has-text-weight-semibold">External links
    <ul>
      <% unless @game.wikidata_id.blank? %>
        <li><%= link_to 'Wikidata', "https://www.wikidata.org/wiki/Q#{@game.wikidata_id}" %>
      <% end %>
      <% unless @game.pcgamingwiki_id.blank? %>
        <li><%= link_to 'PCGamingWiki', "https://pcgamingwiki.com/wiki/#{@game.pcgamingwiki_id}" %>
      <% end %>
      <% unless @game.steam_app_id.blank? %>
        <li><%= link_to 'Steam', "https://store.steampowered.com/app/#{@game.steam_app_id}" %>
      <% end %>
    </ul>
  <% end %>
</div>

