<% content_for :title, @company.name %>

<h1 class="title"><%= @company.name %></h1>
<h2 class="subtitle">
  <%= @company.description.blank? ? "This company doesn't have a description yet." : @company.description %>
</h2>

<% if user_signed_in? %>
  <div class="field is-grouped">
    <p class="control"><%= link_to("Edit", edit_company_path(@company.id), class: "button") %>
    <p class="control"><%= link_to("Delete", company_path(@company.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
  </div>
<% end %>

<% if !@published_releases.blank? %>
  <p>Published:

  <ul>
    <% @published_releases.each do |published_release| %>
      <li><%= link_to(published_release.release.name, release_path(published_release.release.id)) %>
    <% end %>
  </ul>
<% else %>
  <p>This company hasn't published any releases yet.
<% end %>

<% if !@developed_releases.blank? %>
  <p>Developed:

  <ul>
    <% @developed_releases.each do |developed_release| %>
      <li><%= link_to(developed_release.release.name, release_path(developed_release.release.id)) %>
    <% end %>
  </ul>
<% else %>
  <p>This company hasn't developed any releases yet.
<% end %>
