<% content_for :title, @company.name %>

<h1 class="title"><%= @company.name %></h1>
<h2 class="subtitle">
  <%= @company.description.blank? ? "This company doesn't have a description yet." : @company.description %>
</h2>

<% if user_signed_in? %>
  <div class="field is-grouped">
    <p class="control"><%= link_to("Edit", edit_company_path(@company.id), class: "button") %>
    <p class="control"><%= link_to("Delete", company_path(@company.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
  </div>
<% end %>

<% if !@published_games.blank? %>
  <p>Published:

  <div class="game-card-list mt-20">
    <% @published_games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @published_games, param_name: :publisher_page %>
<% else %>
  <p>This company hasn't published any games yet.
<% end %>

<% if !@developed_games.blank? %>
  <p>Developed:

  <div class="game-card-list mt-20">
    <% @developed_games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @developed_games, param_name: :developer_page %>
<% else %>
  <p>This company hasn't developed any games yet.
<% end %>
