<% content_for :title, @company.name %>
<% content_for :description, "#{@company.name} on vglist" %>

<h1 class="title"><%= @company.name %></h1>

<% if policy(@company).edit? || policy(@company).destroy? %>
  <div class="field buttons">
    <% if policy(@company).edit? %>
      <%= link_to("Edit", edit_company_path(@company.id), class: "button mr-0-mobile is-fullwidth-mobile") %>
    <% end %>
    <% if policy(@company).destroy? %>
      <%= link_to("Delete", company_path(@company.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-fullwidth-mobile is-danger") %>
    <% end %>
  </div>
<% end %>

<% unless @company.wikidata_id.blank? %>
  <%= link_to 'Wikidata', "https://www.wikidata.org/wiki/Q#{@company.wikidata_id}" %>
<% end %>

<% if !@developed_games.blank? %>
  <h2 class="subtitle is-4 mt-40">Developed</h2>

  <div class="game-card-list mt-20">
    <% @developed_games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @developed_games, param_name: :developer_page %>
<% else %>
  <h2 class="subtitle is-4 mt-40">Developed</h2>
  <p class='has-text-centered mt-50 has-text-muted'>This company hasn't developed any games yet.
<% end %>

<% if !@published_games.blank? %>
  <h2 class="subtitle is-4 mt-40">Published</h2>

  <div class="game-card-list mt-20">
    <% @published_games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @published_games, param_name: :publisher_page %>
<% else %>
  <h2 class="subtitle is-4 mt-40">Published</h2>
  <p class='has-text-centered mt-50 has-text-muted'>This company hasn't published any games yet.
<% end %>
