<% content_for :title, "Activity Feed" %>
<% content_for :description, "Recent activity on VideoGameList (VGList)." %>

<div class="ml-50 mr-50">
  <h1 class="title">Activity Feed</h1>

  <% @events.each do |event| %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <%= link_to user_path(event.user) do %>
              <%= user_avatar(current_user.id, 80) %>
            <% end %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <% if event.event_type == 'add_to_library' %>
              <p>
                <%= link_to(event.user.username, user_path(event.user)) %>
                added <%= link_to(event.game_purchase.game.name, game_path(event.game_purchase.game)) %>
                to their library.
              </p>
            <% elsif event.event_type == 'changed_completion_status' %>
              <li>Not yet implemented.</li>
            <% end %>

            <p class="has-text-grey">
              <%= "#{distance_of_time_in_words(event.created_at, Time.now)} ago" %>
            </p>
          </div>
        </div>
      </article>
    </div>
  <% end %>

  <%= paginate @events %>
</div>
