<%= form_for @release do |f| %>
  <div class="field">
    <%= f.label :name, "Release name", class: "label" %>
    <div class="control">
      <%= f.text_field :name, autocomplete: "off", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, "Description", class: "label" %>
    <div class="control">
      <%= f.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= f.submit "Submit", class: "button is-primary" %>
  </div>
<% end %>
