<% content_for :title, @release.name %>

<h1 class="title"><%= @release.name %></h1>
<h2 class="subtitle"><%= @release.description %></h2>

<% if policy(@release).update? || policy(@release).destroy? %>
  <div class="field is-grouped">
    <% if policy(@release).update? %>
      <p class="control"><%= link_to("Edit", edit_release_path(@release.id), class: "button") %>
    <% end %>
    <% if policy(@release).destroy? %>
      <p class="control"><%= link_to("Delete", release_path(@release.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
    <% end %>
    <% if policy(current_user).add_release_to_library? && !release_in_user_library?(@release) %>
      <p class="control"><%= button_to "Add to library", add_release_to_library_release_path(@release.id), method: :post, params: { release_purchase: { user_id: current_user.id, release_id: @release.id } }, class: "button" %>
    <% end %>
    <% if policy(current_user).remove_release_from_library? && release_in_user_library?(@release) %>
      <p class="control"><%= button_to "Remove from library", remove_release_from_library_release_path(@release.id), method: :delete, params: { id: @release.id }, class: "button is-danger" %>
    <% end %>
  </div>
<% end %>

<ul>
  <li>
    Game: <%= link_to(@release.game.name, game_path(@release.game.id)) %>
  </li>
  <li>
    Platform: <%= link_to(@release.platform.name, platform_path(@release.platform.id)) %>
  </li>
  <li>Publisher(s):
    <ul>
      <% @publishers.each do |publisher| %>
        <li><%= link_to(publisher.company.name, company_path(publisher.company.id)) %>
      <% end %>
    </ul>
  </li>
  <li>Developer(s):
    <ul>
      <% @developers.each do |developer| %>
        <li><%= link_to(developer.company.name, company_path(developer.company.id)) %>
      <% end %>
    </ul>
  </li>
</ul>

<% if !@owners.blank? %>
  <p>Owners:

  <ul>
    <% @owners.each do |user| %>
      <li><%= link_to(user.username, user_path(user.id)) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No one owns this release yet!
<% end %>

