<% content_for :title, @release.name %>

<h1><%= @release.name %></h1>
<h3><%= @release.description %></h3>

<ul>
  <li>
    Game: <%= link_to(@release.game.name, game_path(@release.game.id)) %>
  </li>
  <li>
    Platform: <%= link_to(@release.platform.name, platform_path(@release.platform.id)) %>
  </li>
  <li>Publisher(s):
    <ul>
      <% @publishers.each do |publisher| %>
        <li><%= link_to(publisher.company.name, company_path(publisher.company.id)) %>
      <% end %>
    </ul>
  </li>
  <li>Developer(s):
    <ul>
      <% @developers.each do |developer| %>
        <li><%= link_to(developer.company.name, company_path(developer.company.id)) %>
      <% end %>
    </ul>
  </li>
</ul>

<% if !@owners.blank? %>
  <p>Owners:

  <ul>
    <% @owners.each do |user| %>
      <li><%= link_to(user.username, user_path(user.id)) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No one owns this release yet!
<% end %>

