<%= form_for @series do |f| %>
  <div class="field">
    <%= f.label :name, "Series name", class: "label" %>
    <div class="control">
      <%= f.text_field :name, autocomplete: "off", class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.submit "Submit", class: "button is-primary" %>
    <%= link_to("Cancel", cancel_path, class: "button") %>
  </div>
<% end %>
