<% content_for :title, @series.name %>
<% content_for :description, "#{@series.name} series on VideoGameList (VGList)" %>

<h1 class="title"><%= @series.name %></h1>

<% if policy(@series).edit? || policy(@series).destroy? %>
  <div class="field is-grouped">
    <% if policy(@series).edit? %>
      <p class="control"><%= link_to("Edit", edit_series_path(@series.id), class: "button") %>
    <% end %>
    <% if policy(@series).destroy? %>
      <p class="control"><%= link_to("Delete", series_path(@series.id), method: :delete, data: { confirm: "You sure?" }, class: "button is-danger") %>
    <% end %>
  </div>
<% end %>

<% unless @series.wikidata_id.blank? %>
  <%= link_to 'Wikidata', "https://www.wikidata.org/wiki/Q#{@series.wikidata_id}" %>
<% end %>

<% if !@games.blank? %>
  <div class="game-card-list mt-20">
    <% @games.each do |game| %>
      <%= render 'shared/game_card', game: game %>
    <% end %>
  </div>

  <%= paginate @games %>
<% else %>
  <p>This series doesn't have any games yet.
<% end %>
