<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GameTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
  </head>

  <body>
    <header class="site-header">
      <ul class="header-items-left">
        <li>
          <%= link_to("Home", root_path) %>
        </li>
      </ul>

      <ul class="header-items-right">
        <%= render 'devise/menu/sign_up_items' %>
        <%= render 'devise/menu/sign_in_items' %>
      </ul>
    </header>
    
    <% unless notice.nil? %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
