<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "VideoGameList" %></title>
    <meta name="description" content="<%= yield(:description).blank? ? "VideoGameList (VGList) helps you track your entire video game library across every store and platform." : yield(:description)%>">

    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "VideoGameList" %>">
    <meta property="og:description" content="<%= yield(:description).blank? ? "VideoGameList (VGList) helps you track your entire video game library across every store and platform." : yield(:description)%>">
    <meta property="og:url" content="<%= request.original_url %>">
    <% unless yield(:opengraph_image).blank? %>
      <meta property="og:image" content="<%= yield(:opengraph_image) %>">
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', nonce: true, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%# Rails flash messages %>
    <% flash.each do |type, message| -%>
      <div class="flash-notification notification <%= flash_class(type) %> level">
        <p class="level-item level-left"><%= message %></p>
        <button class="delete level-item level-right"></button>
      </div>
    <% end %>

    <div class="section">
      <div class="container is-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
