<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "GameTracker" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', nonce: true %>
  </head>

  <body>
    <header class="site-header d-flex justify-content-between">
      <ul class="header-items-left">
        <li><%= link_to("GameTracker", root_path) %></li>
        <li><%= link_to("Games", games_path) %></li>
        <li><%= link_to("Releases", releases_path) %></li>
        <li><%= link_to("Users", users_path) %></li>
        <li><%= link_to("Platforms", platforms_path) %></li>
      </ul>

      <ul class="header-items-right">
        <% if user_signed_in? %>
          <%= link_to(current_user.username, user_path(current_user.id)) %>
        <% end %>
        <%= render 'devise/menu/sign_up_items' %>
        <%= render 'devise/menu/sign_in_items' %>
      </ul>
    </header>
    
    <% unless notice.nil? %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
