<!DOCTYPE html>
<html lang="en">
  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/navbar' %>

    <%# Rails flash messages %>
    <% flash.each do |type, message| -%>
      <div class="flash-notification notification <%= flash_class(type) %> level">
        <p class="level-item level-left"><%= message %></p>
        <button class="delete level-item level-right"></button>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
