<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "Continue From Checkpoint" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', nonce: true, 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="site-header d-flex justify-content-between">
      <ul class="header-items-left">
        <li><%= link_to("Continue From Checkpoint", root_path) %>
        <li><%= link_to("Games", games_path) %>
        <li><%= link_to("Releases", releases_path) %>
        <li><%= link_to("Users", users_path) %>
        <li><%= link_to("Platforms", platforms_path) %>
        <li><%= link_to("Genres", genres_path) %>
        <li><%= link_to("Companies", companies_path) %>
      </ul>

      <ul class="header-items-right">
        <% if user_signed_in? %>
          <%= link_to(current_user.username, user_path(current_user.id)) %>
        <% end %>
        <%= render 'devise/menu/sign_up_items' %>
        <%= render 'devise/menu/sign_in_items' %>
      </ul>
    </header>

    <%# Rails flash messages %>
    <% flash.each do |type, message| -%>
      <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>

    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
